@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body {
  font-family:"Bebas Neue", sans-serif; ;
  background: linear-gradient(rgba(65, 65, 241, 0.6), rgb(218, 212, 218));
  color: rgb(40, 40, 38);
}



